<!DOCTYPE html>
<html>
	<head>
		<title>Gostosinho Pão de Queijo</title>
		<style type="text/css">
			body {font-family: arial; font-size: 16px;}
			input {font-size: 16px;}

			.blue {border: 1px solid blue}
			.red {border: 1px solid red}
			.black {border: 1px solid black}
			.pink {border: 1px solid pink}

			.linha {width: 100%; padding: 10px 0; display: inline-table;}
			.tamanho-75 {width: 74.8%; float: left;}
			.tamanho-50 {width: 49.8%; float: left;}
			.tamanho-25 {width: 24.8%; float: left;}
			.fonte-grande {font-size: 1.5em}

			.campo-input {width: 98%; margin: 0 1%; font-size: 1.5em}

			#lista_itens ul {padding: 5px 0; margin: 2px 0; border-bottom: 1px solid black;}
			#lista_itens ul.item-cancelado {background: gray;}
			#lista_itens ul li {list-style: none; display: inline-block; text-align: center}
			#lista_itens ul li.id {width: 5%; text-align: left; }
			#lista_itens ul li.produto {width: 45%; text-align: left; }
			#lista_itens ul li.quantidade {width: 5%; }
			#lista_itens ul li.valor-unidade {width: 20%; }
			#lista_itens ul li.valor-total {width: 20%; }

			#logo { background: #ff8000; }
			#qtd { display: none; }
			.logo-imagem { background: black; color: white; width: 400px; text-align: center; padding: 15px 0; margin: 20px 25px }
			#lista_itens { background: #CCC; padding: 20px 10px; width: 94%; margin: 0 2%; }
			.linha-total {width: 94%; margin: 0.5% 1%; background: lightyellow; padding: 2%; line-height: 2em;}
			#total_cupom {padding: 1%; float: right; width: 30%; font-size: inherit; bottom: none; }
			
		</style>
		<script type="text/javascript" src="/static/formata-dinheiro.js"></script>
		<script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/quisque.caixa.js"></script>
		<!-- script type="text/javascript" src="/static/jQuery.glob.min.js"></script>
		<script type="text/javascript" src="/static/jquery.GlobalMoneyInput.js"></script>
		<script type="text/javascript" src="/static/jquery.maskMoney.min.js"></script-->
		<script type="text/javascript">
			$(document).ready(function(){

				$("#form_pesquisa").submit(function(){
					var url_form = this.action,
						qtd = $("#qtd").val(),
						codigo = $("#codigo_barra").val();
					$("#caixa").trigger('venda.item.adicionar', {'codigo': codigo,'quantidade': qtd});
					return false;
				});

				$("#botao-alterar-quantidade").on('click',function(){
					$("#caixa").trigger('venda.item.quantidade');
				});

				$("#botao-cancelar-item").on('click',function(){
					$("#caixa").trigger('venda.item.cancelar');
				});
				
				$("#botao-cancelar-cupom").on('click',function(){
					$("#caixa").trigger('venda.cupom.cancelar');
				});

				$("#botao-fechar-cupom").on('click',function(){
					var valor_pago = prompt("Digite o valor pago");
					var total_cupom = moeda2float($("#total_cupom").val());
					if (total_cupom == 0) return;
					if (valor_pago.indexOf(',') == -1) {
						valor_pago = parseFloat(valor_pago);
					} else {
						valor_pago = moeda2float(valor_pago);
					}
					if (valor_pago >= total_cupom) {
						$("#valor_pago").val(valor_pago);
						$("#caixa").trigger('venda.cupom.fechar', {'valor_pago':valor_pago, 'total_cupom':total_cupom});
					} else {
						alert("VALOR PAGO É MENOR QUE TOTAL DO CUPOM");
						$("#codigo_barra").focus();
					}
				});

				$("#botao-consultar-item").on('click',function(){
					var codigo = parseInt(prompt("Digite o codigo"), 10);
					if (codigo > 0) {
						$("#caixa").trigger('venda.item.consultar', codigo);
					}
				});
				
				$("#botao-fechar-caixa").on('click',function(){
					if (confirm('confirmar fechamento do caixa?')) {
						$("#caixa").trigger('venda.fechar_caixa');
					}
				});

				$("#caixa").trigger('venda.cupom.gerar');
			});
		</script>
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>