{% extends "base_bootstrap.html" %}

{% block content %}

{% if form.errors %}{% endif %}

{{ form.valor_entregue.errors }}
{{ form.fundo_caixa_final.errors }}
{{ form.valor_despesa.errors }}

	<h2>Fechamento do Caixa</h2>

	<form role="form" action="/venda/caixa/fechar" method="post">
		{% csrf_token %}
	  <div class="form-group">
	  	<label for="id_valor_entregue">{{ form.valor_entregue.label_tag }}</label>
	    <div class="input-group input-group-lg">
			  <span class="input-group-addon">R$</span>
			  <input type="text" class="form-control" name="valor_entregue" id="id_valor_entregue">
			</div>
	  </div>
	  <div class="form-group">
	  	<label for="id_fundo_caixa_final">{{ form.fundo_caixa_final.label_tag }}</label>
	    <div class="input-group input-group-lg">
			  <span class="input-group-addon">R$</span>
			  <input type="text" class="form-control" name="fundo_caixa_final" id="id_fundo_caixa_final">
			</div>
	  </div>
	  <div class="form-group">
	  	<label for="id_valor_despesa">{{ form.valor_despesa.label_tag }}</label>
	    <div class="input-group input-group-lg">
			  <span class="input-group-addon">R$</span>
			  <input type="text" class="form-control" name="valor_despesa" id="id_valor_despesa">
			</div>
	  </div>

	  <button type="submit" class="btn btn-lg btn-primary btn-block">fechar caixa</button>
	</form>

{% endblock %}
