{% extends "base_bootstrap.html" %}

{% block content %}

{% if form.errors %}{% endif %}

{{ form.loja.errors }}
{{ form.fundo_caixa_inicial.errors }}

	<h2>Abertura do Caixa</h2>

	<form role="form" action="/venda/sessao_caixa" method="post">
		{% csrf_token %}
	  <div class="form-group input-group-lg">
	    <label for="exampleInputEmail1">{{ form.loja.label_tag }}</label>
	    <select id="id_loja" name="loja" class="form-control input-lg">
			{% for id, loja in form.fields.loja.choices %}
				<option value="{{id}}">{{loja|upper}}</option>
			{% endfor %}
		</select>
	  </div>
	  <div class="form-group">
	  	<label for="exampleInputPassword1">{{ form.fundo_caixa_inicial.label_tag }}</label>
	    <div class="input-group input-group-lg">
			  <span class="input-group-addon">R$</span>
			  <input type="text" class="form-control" name="fundo_caixa_inicial" id="id_fundo_caixa_inicial">
			  <span class="input-group-addon">,00</span>
			</div>
	  </div>

	  <button type="submit" class="btn btn-lg btn-primary btn-block">abrir caixa</button>
	</form>

{% endblock %}