{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="linha black" id="logo">
	<div class="logo-imagem fonte-grande">Logo Gostosinho</div>
</div>
<div class="linha blue" id="caixa">
	<div class="tamanho-50 red">
		<div class="linha" id="visor">
			<p>nome produto</p>
			<p>quantidade # valor</p>
		</div>

		<div class="linha">
			<input name="quantidade" id="qtd" value="1" type="text">
			<form method="get" id="form_pesquisa">
				<input name="codigo" id="codigo_barra" placeholder="insira o código do produtos" autocomplete=off class="campo-input">
			</form>
		</div>

		<div class="linha" id="lista_itens">
			<ul class="{% if item.cancelado %}item-cancelado{% endif %}">
			    <li class="id"></li>
			    <li class="produto">PRODUTO</li>
			    <li class="quantidade">QTD</li>
			    <li class="valor-unidade">V. UNID</li>
			    <li class="valor-total">V. TOTAL</li>
			</ul>
			{% for item in cupom.itens_todos %}
				<ul class="{% if item.cancelado %}item-cancelado{% endif %}">
				    <li class="id">#{{ forloop.counter }}</li>
				    <li class="produto">{{ item.produto_preco.produto_venda.nome }}</li>
				    <li class="quantidade">{{ item.quantidade }}</li>
				    <li class="valor-unidade">{{ item.preco_unidade|floatformat:"2"|intcomma }}</li>
				    <li class="valor-total">{{ item.preco_total|floatformat:"2"|intcomma }}</li>
				</ul>
			{% endfor %}
		</div>

		<div class="linha linha-total fonte-grande">TOTAL A PAGAR
			<input name="valor_a_pagar" id="total_cupom" placeholder="0,00" value="{{cupom.valor_total|floatformat:'2'|intcomma }}" readonly="text">
			<input name="valor_pago" id="valor_pago" placeholder="0,00" value="" readonly="readonly" type="hidden">
		</div>
		<!-- <div class="linha linha-total fonte-grande">TROCO
			<input name="valor_troco" id="valor_troco" placeholder="0,00" value="" readonly="readonly">
		</div> -->
	</div>
	<div class="tamanho-50 black">
		<div class="linha">
			<div style="width:94%; height: 200px; background: #888; margin: 0 3%;"></div>
		</div>
		<div class="linha">
			<button id="botao-consultar-item" class="botao linha">consultar item</button>
		</div>
		<div class="linha">
			<button id="botao-alterar-quantidade" class="botao linha tamanho-50">alterar quantidade</button>
			<button id="botao-cancelar-item" class="botao linha tamanho-50">cancelar item</button>
		</div>
		<div class="linha">
			<button id="botao-fechar-cupom" class="botao linha tamanho-50">fechar cupom</button>
			<button id="botao-cancelar-cupom" class="botao linha tamanho-50">cancelar cupom</button>
		</div>
		<div class="linha">
			<button id="botao-fechar-caixa" class="botao linha">fechar caixa</button>
		</div>
	</div>
</div>
{% endblock %}
