<p>Caixa: {{cupom.caixa}} </p>
<p>Numero: {{cupom.id}} </p>

<ul>
{% for item in cupom.itens_validos %}
	<li>{{item.preco_produto.produto.nome}} = R$ {{item.preco_total}}</li>
{% endfor %}
</ul>

<p>Total: {{cupom.valor_total}}</p>
