{% extends "base_bootstrap.html" %}
{% load humanize %}

{% block content %}

{% if form.errors %}{% endif %}

	<h2>Extrato do Caixa: {{caixa.loja.nome}}</h2>

	<blockquote>
	  <p>{{caixa.usuario}}, verifique os valores do fechamento.</p>
	</blockquote>

	<dl class="dl-horizontal">
	  <dt>Data abertura</dt>
	  <dd>{{caixa.data_inicial}}</dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt>Dinheiro do caixa</dt>
	  <dd>R$ {{caixa.valor_entregue|floatformat:"2"|intcomma}}</dd>
	</dl>
	<dl class="dl-horizontal">
	  <dt>Fundo de entrada</dt>
	  <dd>R$ {{caixa.fundo_caixa_inicial|floatformat:"2"|intcomma}} (+)</dd>
	</dl>
	<dl class="dl-horizontal">
	  <dt>Total em cupons</dt>
	  <dd class="">R$ {{caixa.valor_vendas|floatformat:"2"|intcomma}} (+)</dd>
	</dl>
	<dl class="dl-horizontal">
	  <dt>Despesas</dt>
	  <dd>R$ {{caixa.valor_despesa|floatformat:"2"|intcomma}} (-)</dd>
	</dl>
	<dl class="dl-horizontal {% if saldo_vendedor > 0 %}text-success{% elif saldo_vendedor < 0 %}text-danger{% endif %}">
	  <dt>SALDO</dt>
	  <dd>R$ {{saldo_vendedor|floatformat:"2"|intcomma}}</dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt>Fundo fechamento</dt>
	  <dd>R$ {{caixa.fundo_caixa_final|floatformat:"2"|intcomma}}</dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt>ENTREGAR</dt>
	  <dd>R$ {{caixa.valor_final|floatformat:"2"|intcomma}}</dd>
	</dl>
	<dl class="dl-horizontal">
	  <dt>Data fechamento</dt>
	  <dd>{{caixa.data_final}}</dd>
	</dl>

{% endblock %}
