{% extends "base_bootstrap.html" %}
{% load humanize %}

{% block content %}

  <h2>Detalhamento do Estoque</h2>

  <blockquote>
    <p>Loja: {{loja}}</p>
    <p>Produto: {{produto}}</p>
    <p>Data: {{data_cadastro|date:'d/m/Y'}}</p>
  </blockquote>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Data</th>
        <th>Quantidade</th>
        <th>Estoque Atual</th>
        <th>Origem</th>
      </tr>
    </thead>
    <tbody>
      {% for item in listagem %}
        <tr>
          <td>{{item.data_cadastro}}</td>
          <td>{{item.quantidade}}</td>
          <td>{{item.estoque_atual}}</td>
          <td>{{item.origem_model}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}