{% extends "base_bootstrap.html" %}
{% load humanize %}

{% block content %}

  <h2>Detalhe do Caixa: {{caixa.loja.nome}}</h2>

  <blockquote>
    <p>{{caixa.usuario}}, operou neste caixa.</p>
  </blockquote>

  <table class="table table-hover">
    <tbody>
      <tr class="info">
        <td colspan="3">FUNDO DE CAIXA INICIAL</td>
        <td>R$ {{caixa.fundo_caixa_inicial|floatformat:"2"|intcomma}}</td>
      </tr>
      {% for cupom in caixa.cupons %}
        {% for item in cupom.itens_todos %}
        <tr {%if item.cancelado %}class="danger"{% endif %}>
          <td>{{cupom}}</td>
          <td>{{item.produto_preco.produto_venda|upper}} {%if item.cancelado %}(CANCELADO){% endif %}</td>
          <td>{{item.quantidade}} x R$ {{item.preco_unidade|floatformat:"2"|intcomma}}</td>
          <td>R$ {{item.preco_total|floatformat:"2"|intcomma}}</td>
        </tr>
        {% endfor %}
        <tr class="success">
          <td>{{cupom}}</td>
          <td>{{cupom.data_atualizacao|date:'H:i'}}</td>
          <td>-</td>
          <td>R$ {{cupom.valor_total|floatformat:"2"|intcomma}}</td>
        </tr>
      {% endfor %}
      <tr class="info">
        <td colspan="3">FUNDO DE CAIXA FINAL</td>
        <td>R$ {{caixa.fundo_caixa_final|floatformat:"2"|intcomma}}</td>
      </tr>
      <tr class="info">
        <td colspan="3">TOTAL VENDAS</td>
        <td>R$ {{caixa.valor_vendas|floatformat:"2"|intcomma}}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}