{% extends "base_bootstrap.html" %}
{% load humanize %}
{% load forms_utils %}

{% block content %}

  {% if erro %}
  <div class="alert alert-warning" role="alert">
    <strong>Atenção!</strong> {{erro}}
  </div>
  {% endif %}

  <h2>Relatório de venda</h2>

  <br /><br />
  <div class="">
    <form class="form-inline" role="form" method="GET">
      <div class="form-group">
        <div class="input-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <select class="form-control" id="exampleInput1" name="loja">
            <option value="0">Todas as lojas</option>
            {% for loja in lojas %}
            <option value="{{loja.id}}" {{loja.id|selected:loja_f}}>{{loja.nome}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Data Inicial</label>
        <input type="text" name="data_inicial" class="form-control" id="exampleInputPassword2" placeholder="dd/mm/aaaa" value="{{data_inicial_f|date:'d/m/Y'}}">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Data Final</label>
        <input type="text" name="data_final" class="form-control" id="exampleInputPassword2" placeholder="dd/mm/aaaa" value="{{data_final_f|date:'d/m/Y'}}">
      </div>
      <button type="submit" class="btn btn-default">pesquisar</button>
    </form>
  </div>

  <hr>

  {% if itens %}
  <table class="table table-hover">
    <tbody>
        <tr>
          <th>data</th>
          <th>hora_inicial</th>
          <th>hora_final</th>
          <th>loja</th>
          <th>usuario</th>
          <th>fundo_caixa</th>
          <th>valor_vendas</th>
          <th></th>
        </tr>
      {% for item in itens %}
          <tr>
            <td>{{item.data_inicial|date:'d/m/Y'}}</td>
            <td>{{item.data_inicial|date:'H:i'}}</td>
            <td>
              {{item.data_final|date:'H:i'}} 
              {% if item.data_final == None %}
                --
              {% elif item.data_final != None and item.data_inicial|date:'dmY' != item.data_final|date:'dmY' %}
                ({{item.data_final|timeuntil:item.data_inicial}})
              {% endif %}
            </td>
            <td>{{item.loja}}</td>
            <td>{{item.usuario}}</td>
            <td>{{item.fundo_caixa_final|floatformat:"2"|intcomma}}</td>
            <td>{{item.valor_vendas|floatformat:"2"|intcomma}}</td>
            <td>{{item.extrato_completo}} | {{item.extrato_caixa}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h4>nenhum resultado encontrado</h4>
  {% endif %}
{% endblock %}
