{% extends "base_bootstrap.html" %}
{% load humanize %}
{% load forms_utils %}

{% block content %}

  {% if erro %}
  <div class="alert alert-warning" role="alert">
    <strong>Atenção!</strong> {{erro}}
  </div>
  {% endif %}

  <h2>Relatório de entrada</h2>

  <br /><br />
  <div class="">
    <form class="form-inline" role="form" method="GET">
      <div class="form-group">
        <div class="input-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <select class="form-control" id="exampleInput1" name="loja">
            <option value="0">Todas as lojas</option>
            {% for loja in lojas %}
            <option value="{{loja.id}}" {{loja.id|selected:loja_f}}>{{loja.nome}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Data Inicial</label>
        <input type="text" name="data_inicial" class="form-control" id="exampleInputPassword2" placeholder="dd/mm/aaaa" value="{{data_inicial_f|date:'d/m/Y'}}">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Data Final</label>
        <input type="text" name="data_final" class="form-control" id="exampleInputPassword2" placeholder="dd/mm/aaaa" value="{{data_final_f|date:'d/m/Y'}}">
      </div>
      <button type="submit" class="btn btn-default">pesquisar</button>
    </form>
  </div>

  <hr>

  {% if itens %}
  <table class="table table-hover">
    <tbody>
        <tr>
          <th>Data</th>
          <th>Loja</th>
          <th>Produto</th>
          <th>Caixas (un.)</th>
          <th>Valor</th>
          <th>Fornecedor</th>
          <th>Data NF</th>
          <th>NF</th>
        </tr>
      {% for item in itens %}
        <tr>
          <td>{{item.data_cadastro|date:'d/m/Y'}}</td>
          <td>{{item.loja}}</td>
          <td>{{item.produto.nome}}</td>
          <td>{{item.source.quantidade_caixa}} ({{item.source.quantidade_unidade}} un.)</td>
          <td>{{item.source.preco_custo_total|floatformat:"2"|intcomma}}</td>
          <td>{{item.source.entrada.fornecedor.nome}}</td>
          <td>{{item.source.entrada.data_nota_fiscal|date:'d/m/Y'}}</td>
          <td>{{item.source.entrada.nota_fiscal}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<!--   <nav>
    <ul class="pager">
      <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Anterior</a></li>
      <li class="next"><a href="#">Próximo <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav> -->
  {% else %}
    <h4>nenhum resultado encontrado</h4>
  {% endif %}
{% endblock %}
