{% extends "base_bootstrap.html" %}
{% load humanize %}
{% load forms_utils %}

{% block content %}

  <h2>Relatório de estoque atual</h2>

  <br /><br />
  <div class="">
    <form class="form-inline" role="form" method="GET">
      <div class="form-group">
        <div class="input-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <select class="form-control" id="exampleInput1" name="loja">
            <option value="0">Todas as lojas</option>
            {% for loja in lojas %}
            <option value="{{loja.id}}" {{loja.id|selected:loja_f}}>{{loja.nome}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-default">pesquisar</button>
      <button type="button" class="btn btn-default" onclick="javascript: window.print();" style="float:right">imprimir</button>
    </form>
  </div>

  <hr>

  {% if itens %}
  <table class="table table-hover">
    <tbody>
        <tr>
          <th>Produto</th>
          <th>Loja</th>
          <th>Quantidade</th>
          <th class="checkbox-manual"></th>
        </tr>
      {% for item in itens %}
        <tr>
          <td>{{item.produto.nome}}</td>
          <td>{{item.loja.nome}}</td>
          <td>{{item.quantidade_estoque}}</td>
          <td class="checkbox-manual"><span></span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h4>nenhum resultado encontrado</h4>
  {% endif %}
{% endblock %}
