{% extends "admin/index.html" %}

{% block sidebar %}
    {{block.super}}
      <div class="app-cash module">
        <table>
        <caption>
            <a href="#" class="section" title="Models in the cash application">
                Quiosque
            </a>
        </caption>
            <tr class="model-{# model.object_name|lower #}">
                <th scope="row"><a href="/venda/caixa">Tela de venda</a></th>
                <th scope="row">&nbsp;</th>

                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
      </div>

      <div class="app-report module">
        <table>
        <caption>
            <a href="#" class="section" title="Models in the report application">
                Relatórios
            </a>
        </caption>
            <tr class="model-report">
                <th scope="row"><a href="/relatorio/entradas/">Entradas</a></th>
                <th scope="row">&nbsp;</th>

                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="model-report">
                <th scope="row"><a href="/relatorio/estoque/">Estoque Atual</a></th>
                <th scope="row">&nbsp;</th>

                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="model-report">
                <th scope="row"><a href="/relatorio/fornecedores/">Fornecedor (fazer)</a></th>
                <th scope="row">&nbsp;</th>

                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="model-report">
                <th scope="row"><a href="/relatorio/vendas/">Vendas</a></th>
                <th scope="row">&nbsp;</th>

                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
      </div>
{% endblock %}
